.content {
}
.box {
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.uk-margin-20{

}
.uk-grid>* {
    padding-left: 15px;
}
@media (min-width: 960px) and (max-width: 1220px) {
    .uk-hidden-medium-large {
        display: none;
    }
}
